server:
  port: 8082

spring:
  application:
    name: store-admin-api

  datasource:
    url: jdbc:postgresql://localhost:5432/store
    username: store
    password: store1234
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        format_sql: true
        default_batch_fetch_size: 100

  data:
    redis:
      host: localhost
      port: 6379

jwt:
  secret: ThisIsASecretKeyForJwtTokenGenerationMinimum256Bits!!
  access-token-expiry: 1800000
  refresh-token-expiry: 604800000

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.orm.jdbc.bind: trace
